/* Reseteo básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    height: 100vh;
    /* display: flex; */
    justify-content: center;
    align-items: center;
}

/* Menú lateral flotante */
.sidebar {
    position: fixed;
    left: 0;
    background-color: #2c3e50;
    width: 56px;
    /* Tamaño contraído */
    height: auto;
    border-radius: 12px;
    transition: width 0.3s ease;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 8px;
    margin-left: 8px;
    transform: translateY(-50%);
    top: 50%;
}

.sidebar.expanded {
    width: 216px;
    /* Tamaño extendido */
}

.toggle-btn {
    cursor: pointer;
    font-size: 24px;
    color: #ecf0f1;
    background-color: transparent;
    border: none;
    margin: 4px;
}

.menu-items {
    list-style: none;
    width: 100%;
}

.menu-item {
    display: flex;
    align-items: center;
    padding: 10px;
    color: #ecf0f1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: padding-left 0.3s ease;
}

/* Ocultar texto cuando está contraído */
.menu-item span {
    display: none;
    margin-left: 10px;
}

.sidebar.expanded .menu-item span {
    display: inline-block;
}

/* Hover */
.menu-item:hover {
    background-color: #34495e;
    cursor: pointer;
}

.sidebar.expanded .menu-item {
    padding-left: 20px;
    /* Añade espacio cuando está expandido */
}
